---
layout: default
---

<div class="home">

 <!--  <h1 class="page-heading">Current Technical Job Openings</h1> -->

 THIS PAGE WAS MOVED TO <a href="https://primetag.com/careers">https://primetag.com/careers</a>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
        </h2>

        <div class="post-wrapper">
          <div class="post-tags">
            <span class="job-position">{{ post.categories }}</span>
            {% if post.tags %}
                {% for tag in post.tags %}
                  <span class="label">{{ tag }}</span>
                {% endfor %}
            {% endif %}
            {% if post.location %}
                <div class="marker">
                  <i class="fa fa-map-marker"></i> {{ post.location }}<br>
                </div>
            {% endif %}
          </div>

          <p class="job-description">{{ post.description | replace:'|','<span class="text-pipe" />' }}</p>
	{% endfor %}
        </div>
      </li>
  </ul>

 <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
