@import '_variables';

/**
 * Site header
 */

.site-header {
   border-top: 5px solid $blue;
   min-height: 60px; // Positioning context for the mobile navigation icon
   position: fixed;
   left: 0;
   width: 100%;
   background-color: white;
   z-index: 1;
   box-shadow: 0 5px 6px 0 transparentize($light-black, 0.93), 0 2px 4px 0 transparentize($light-black, 0.93);
}

.site-title {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 100%;
   line-height: 60px;
   margin: auto;
   font-size: 26px;
   font-weight: 600;
   text-align: center;
   margin: auto;
   @media #{$mobile-query} {
      font-size: 22px;
   }
}

.site-nav {
   float: right;
   line-height: 56px;
   .menu-icon {
      display: none;
   }
   .page-link {
      color: $text-color;
      line-height: $base-line-height; // Gaps between nav items, but not on the last one
      &:not(:last-child) {
         margin-right: 20px;
      }
   }
   @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
      .menu-icon {
         display: block;
         float: right;
         width: 36px;
         height: 26px;
         line-height: 0;
         padding-top: 10px;
         text-align: center;
         >svg {
            width: 18px;
            height: 15px;
            path {
               fill: $grey-color-dark;
            }
         }
      }
      .trigger {
         clear: both;
         display: none;
      }
      &:hover .trigger {
         display: block;
         padding-bottom: 5px;
      }
      .page-link {
         display: block;
         padding: 5px 10px;
         &:not(:last-child) {
            margin-right: 0;
         }
         margin-left: 20px;
      }
   }
}


/**
 * Site footer
 */

.site-footer {
   border-top: 1px solid $grey-color-light;
   padding: $spacing-unit 0;
}

.footer-heading {
   font-size: 18px;
   margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
   list-style: none;
   margin-left: 0;
}

.footer-col-wrapper {
   font-size: 15px;
   color: $grey-color;
   margin-left: -$spacing-unit / 2;
   @extend %clearfix;
}

.footer-col {
   float: left;
   margin-bottom: $spacing-unit / 2;
   padding-left: $spacing-unit / 2;
}

.footer-col-1 {
   width: -webkit-calc(35% - (#{$spacing-unit} / 2));
   width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
   width: -webkit-calc(20% - (#{$spacing-unit} / 2));
   width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
   width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
   .footer-col-1,
   .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width: calc(50% - (#{$spacing-unit} / 2));
   }
   .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width: calc(100% - (#{$spacing-unit} / 2));
   }
}

@include media-query($on-palm) {
   .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width: calc(100% - (#{$spacing-unit} / 2));
   }
}


/**
 * Page content
 */

.page-content {
   padding: $spacing-unit 0;
   padding-top: 90px;
}

.page-heading {
   font-size: 20px;
}

.post-list {
   margin-left: 0;
   list-style: none;
   .post {
      position: relative;
      padding: 50px 0;
      &:first-of-type {
         padding-top: 16px;
      }
      &:not(:last-of-type):after {
         content: "";
         position: absolute;
         left: 0;
         right: 0;
         top: 100%;
         width: 50px;
         height: 1px;
         background-color: $light-gray;
         border-radius: 4px;
         margin: auto;
         margin-top: -4px;
      }
   }
   .post-meta {
      display: inline-block;
      font-size: 12px;
      color: $dark-gray;
      margin-bottom: 0;
      vertical-align: 3px;
      &:before {
         content: "";
         display: inline-block;
         vertical-align: 2px;
         width: 4px;
         height: 4px;
         border-radius: 2px;
         background-color: $dark-gray;
         margin: 0 8px;
      }
   }
   .post-link {
      display: inline-block;
      font-size: 24px;
      color: $blue;
      margin-bottom: 8px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border 0.3s ease;
      &:active,
      &:visited {
         color: $blue;
      }
      &:hover {
         border-bottom-color: $blue;
      }
   }
   .job-description {
      margin-top: 16px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
      color: $light-black;
      .text-pipe:before {
         content: "";
         display: inline-block;
         vertical-align: 2px;
         width: 4px;
         height: 4px;
         border-radius: 2px;
         background-color: $dark-gray;
         margin: 0 8px;
      }
   }
}


/**
 * Posts
 */

.post-header {
   margin-bottom: $spacing-unit;
}

.post-title {
   font-size: 42px;
   letter-spacing: -1px;
   line-height: 1;
   @include media-query($on-laptop) {
      font-size: 36px;
   }
   color: $blue;
   display: inline-block;
   margin-bottom: 8px;
   margin-top: 20px;
}

.post-content {
   margin-bottom: $spacing-unit;
   h2 {
      margin-top: 60px;
      font-size: 32px;
      @include media-query($on-laptop) {
         font-size: 28px;
      }
      strong {
         font-weight: 400;
      }
   }
   h3 {
      font-size: 26px;
      @include media-query($on-laptop) {
         font-size: 22px;
      }
   }
   h4 {
      font-size: 20px;
      @include media-query($on-laptop) {
         font-size: 18px;
      }
   }
   ul {
      li {
         color: $light-black;
      }
   }
   p {
      color: $light-black;
      img {
         width: 100%;
         margin-top: 30px;
         border-radius: 3px;
         box-shadow: 0 5px 6px 0 transparentize($light-black, 0.93), 0 2px 4px 0 transparentize($light-black, 0.93);
      }
      a {
         color: $blue;
      }
   }
}


/**
 * Customizations for Jobs Site
 */

#logo {
   display: inline-block;
   img {
      position: relative;
      top: 17px;
      height: 22px;
   }
   a {
      display: block;
      @media #{$mobile-query} {
         display: none;
      }
      &.mobile {
         display: none;
         @media #{$mobile-query} {
            display: block;
         }
         img {
            top: 14px;
            height: 17px;
         }
      }
   }
}

.site-nav {
   display: none;
}

.home h2 {
   margin-bottom: 0;
}

.post-meta {
   display: inline-block;
   font-size: 12px;
   color: $dark-gray;
   margin-bottom: 0;
   vertical-align: 3px;
   &:before {
      content: "";
      display: inline-block;
      vertical-align: 2px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: $dark-gray;
      margin: 0 8px;
   }
}

.location-icon {
   position: relative;
}

.location-icon:before {
   content: "\f041";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
   color: #000;
   font-size: 18px;
   padding-right: 0.5em;
   position: absolute;
   top: 0px;
   left: 0;
}

.post-tags {
   padding: 0 8px;
   .job-position {
      text-transform: uppercase;
      font-size: 13px;
      color: $dark-gray;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
   }
   .label {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      background-color: $gray;
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 600;
      height: 20px;
   }
   .marker {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      color: $blue;
      font-size: 14px;
   }
}

.vertical-line {
   border-left: 3px solid #ff0000;
}

.lp-icon {
   position: fixed;
   opacity: 0.02;
   z-index: -1;
}

.image-grid {
	div {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between; /* or space-around */
	}

	a {
	  display: inline-block;
	  margin-bottom: 8px;
	  width: calc(50% - 4px);
	  text-decoration: none;
	  color: black;
	  margin-top: 16px;
	}

	@media screen and (min-width: 50em) {
	  a {
		width: calc(33% - 6px);
	  }
	}

	a:hover img {
	  transform: scale(1.15);
	}

	figure {
	  margin: 0;
	  overflow: hidden;
	}

	figcaption {
	  margin-top: 15px;
	}

	img {
	  border: none;
	  max-width: 100%;
	  height: auto;
	  display: block;
	  background: #ccc;
	  transition: transform .2s ease-in-out;
	}

	.p a {
	  display: inline;
	  font-size: 13px;
	  margin: 0;
	  text-decoration: underline;
	  color: blue;
	}

	.p {
	  text-align: center;
	  font-size: 13px;
	  padding-top: 100px;
	}
}