/**
 * Media query Variables
 */

$mobile-query: "only screen and (max-width : 600px)";

/**
 * Color Variables
 */


/*=============================
=            BLACK            =
=============================*/

$light-black: #4B545E;
$black: #2C2E3D;
$dark-black: #181823;

/*============================
=            GREY            =
============================*/

$dark-gray: #8F94A7;
$gray: #CFD9E6;
$light-gray: #ECEFF5;
$lightest-gray: #F8FAFD;
$gray-background: #F7F9FC;

/*============================
=            BLUE            =
============================*/

$dark-blue: #462AD1;
$blue: #5421FF;
$light-blue: #7358FF;
$facebook-blue: #3c5a99;

/*===========================
=            RED            =
===========================*/

$dark-red: #D12A51;
$red: #FF3362;
$light-red: #FF587E;

/*=============================
=            GREEN            =
=============================*/

$darkest-green: #11D974;
$dark-green: #28C75D;
$green: #30F371;
$light-green: #55F58A;

/*==============================
=            YELLOW            =
==============================*/

$dark-yellow: #D1A52A;
$yellow: #FFC933;
$light-yellow: #FFD258;
